.content{
    height: 100%;
    max-height: 100%;
    .content-left{
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-right: 0;
        height: 100%;
        padding:50px 7% 0;
        background-color: #fff;
        h1{
            text-align: center;
            color: red;
            font-size: 4rem;
            font-family: 'Rubik', sans-serif;
        }
        h3{
            font-size: 3rem;
            color: cornflowerblue;
        }
        h4{
            font-size: 2rem;
        }
        .content_part{
            padding: 50px 0;
            border-bottom: dotted 1px gray;
            .content_number{
                padding-left: 5%;
                font-size: 20px;
                .dangmenhdehinh1{
                    width: 50%;
                    height: 250px;
                    margin: 20px 25%;
                }
                .hamboolevabieuthucboolhinh1{
                    margin: 20px 25%;
                }
                .hamboolevabieuthucboolhinh3{
                    height: 350px;
                }
                .khaitrienhamboolehinh1{
                    height: 350px;
                    width: 400px;
                }
                .khaitrienhamboolehinh2, .khaitrienhamboolehinh3{
                    height: 100px;
                }
                .machlogichinh1, .machlogichinh2, .machlogichinh3, .machlogichinh4{
                    height: 200px;
                }
                .toithieuhoahamboolhinh1{
                    height: 200px;
                }
                .toithieuhoahamboolhinh6{
                    height: 150px;
                }
                img {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        .content__comment{
            margin-top: 50px;
            h2 {
                color: rgb(18, 230, 99);
            }
        }
    }
    .content-right{
        padding: 0;
        h4{
            text-align: center;
            margin-top: 20px;
            color: chocolate;
        }
        ul{
            li{
                cursor: pointer;
                font-size: 16px;
                margin-left: 30px;

                &:hover{
                    color: red;
                }
            }
        }
    }
}
/* width */
